*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


// Colors 

$font-color1: white;
$font-color2: black;
$font-color3: red;

